<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="menu">
   	  <resultMap type="menu.dto.menucountDTO" id="menucountDTO">
	 <result column="name" property="name"/>
	 <result column="vol" property="vol"/>
	 <result column="count" property="count"/>
	</resultMap>

<!-- 	<resultMap type="menu.dto.menuInformationDTO" id="menuinformationDTO">
	 <result column="name" property="name"/>
	 <result column="vol" property="vol"/>
	 <result column="count" property="count"/>
	</resultMap>  -->

	<resultMap type="menu.dto.menuDTO" id="menuDTO">
	 <result column="num" property="num"/>
	 <result column="name" property="name"/>
	 <result column="menu_detail" property="menu_detail"/>
	 <result column="Classification" property="Classification"/>
	 <collection property="menucountdto" resultMap="menucountDTO"></collection>
	</resultMap>    
	
	<!-- 메뉴목록 -->
  <select id="list" resultMap="menuDTO"> 
  select *
  from (
   select A.*, rownum as rn 
   from (
      select m.num, m.name,m.menu_detail, m.Classification,c.count
        from menu m,menu_count c
        where m.name = c.name and c.vol='tall'
        order by num
  ) A
)
where rn between #{start} and #{end}
</select>
 
 <!-- 메뉴갯수 계산 -->
 <select id="count" resultType="int">
  select count(*) from menu
 </select>
 
 <!-- 메뉴상세페이지 조회 -->
 <select id="view" resultType="menu.dto.menuviewDTO">
 select * from menu_view 
 where name=#{name} and vol='tall'
 </select>
 
  <!-- 메뉴상세페이지 조회 -->
 <select id="count_change" resultType="menu.dto.menuviewDTO">
 select * from menu_view 
 where num=#{num} and vol=#{vol}
 </select>
 
  <!-- 메뉴서치 -->
 <select id="searchList" resultType="menu.dto.menuviewDTO">
  select num, name,menu_detail, classification,count
   from menu_view where vol='tall'
   <choose> 
    <when test="search_option != 'all'">
     and ${search_option} like #{keyword}
    </when>
    <otherwise>
    and (name like #{keyword} 
     or menu_detail like #{keyword}
     or Classification like #{keyword}) 
    </otherwise>
   </choose>
   order by num
 </select>
 
 <!-- 장바구니에 주문 -->
 <insert id="order_insert">
 insert into order_menu(order_num,name,vol,count,temp,cup,userid) 
 values((select nvl(max(order_num)+1,1) from order_menu),#{name},#{vol},#{count},#{temp},#{cup},#{userid})
 </insert>
 
<!-- 가격정보 가져오기 -->
<select id="pay" resultType="int">
select count
from menu_count
where name=#{name} and vol=#{vol}
</select>

 <!-- 리뷰 쓰기 -->
 <insert id="commentAdd">
  insert into menu_comment
  (comment_num,num,name,content,filename,filesize,score,ref,re_step,re_level) values
  ((select nvl(max(comment_num)+1,1) from menu_comment)
    ,#{num}, #{name}, #{content},#{filename},#{filesize},#{score}
    ,(select nvl(max(comment_num)+1,1) from menu_comment),1,0)
 </insert>
 
  <!-- 리뷰 목록  -->
 <select id="commentList" resultType="menu.dto.menucommentDTO">
  select * from menu_comment 
	where num=#{num}
 </select>
 
 <!-- 리뷰 삭제 -->
 <delete id="commentdelete">
 delete from menu_comment
 where comment_num=#{comment_num}
 </delete>
 
 <!-- 답글 순서 조정 -->
 <update id="updateStep">
  update menu_comment
  set re_step=re_step+1
  where ref=#{ref} and re_step >= #{re_step}
 </update>
 
  <!-- 답글 쓰기 -->
 <insert id="reply">
 insert into menu_comment 
  (comment_num,num,name,ref
  ,re_step,re_level,content)
 values
  ( (select nvl(max(comment_num)+1,1) from menu_comment),#{num}
    ,#{name}, #{ref}, #{re_step}, #{re_level}
    , #{content} )
 </insert>
 
 <!-- (체크박스로 선택된 메뉴목록) -->
  <select id="list_checkbox" resultType="menu.dto.menuviewDTO" parameterType="menu.VO.Check"> 
  select num, name,menu_detail, classification,count
   from menu_view
        where vol='tall'
        <if test="checklist!=null">
         and Classification in <foreach item="check" index="index" collection="checklist" open="(" separator="," close=")" >
         #{check}
         </foreach>
        </if>
</select>

<!-- 주문정보 -->
<select id="myorder" resultType="menu.dto.menuOrderDTO">
select * 
from order_menu
where userid=#{userid}
</select>

<select id="chart" resultType="menu.dto.menuOrderDTO">
select name,count(name) purchases
from order_menu
group by name
</select>
</mapper>

